#display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  h1{
    text-align: center;
    width: 100%;
  }
  
  .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: black solid 2px;
    text-align: center;
    width: 18%;
  }
  
  p{
    width: 40%;
  }
  
  button{
    width: 40%;
  }